button {
    border: none; 
    border-radius: 0.75em;
    box-sizing: border-box;
    border: 2px solid #474747;
    padding: 4px;

}

.add:hover {
    background-color: rgb(1, 170, 1);
    color: rgb(255, 255, 255);
    border-color: rgb(1, 170, 1);
}

.btnDelete:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 0, 0);
}

