main {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    padding : 3vh 2vh;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 0;
    background-color: #e4e5f1;
    @include mobile {
        flex-direction: column;
    }
    #toDo, #done, #doing {
        flex:1;
        display:flex;
        flex-direction: column;
        margin: 1.5em;
        background-color: #f0f0f5;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #1F3B58;
        backdrop-filter: blur(6.2px);
        -webkit-backdrop-filter: blur(3px);
        text-align: center;
        h2 {
            padding: 1vh 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px; 
            font-weight: 400;
            background-color: #484b6a;
            color: white;
            margin-bottom: .5em;
        }
        @include mobile {
            width: 95%;
        }  
    }
    .mode {
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
}

.tasks-container {
    height: 80%;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.darkMode {
    section {
        background-color: $darkish-blue;
    }
}