.task {
    margin : .30em 0;
    border: 1px solid rgb(60, 60, 79);
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    gap: 5px;
    img {
        height: 25px;
        width: 25px;
    }
    > * {
        display: flex;
        align-items: center;
    }
}

.name_block {
    display: flex;
    justify-content: space-between;
    text-align: right;
    @include mobile {
        flex-direction: column;
        align-content: left;
        > h3 {
            order:2;
            align-self: flex-start;
        }
    }
}

.controls {
    align-self: flex-end;
    img {
        padding: 0 5px;
    }
    img:hover {
        transform: scale(110%);
    }
}