* {
  margin: 0;
  padding: 0;
}

.my-modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  overflow: auto;
  background-color: rgba(56, 55, 55, 0.475);
}
.my-modal .modal-section {
  width: 33%;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.my-modal .modal-section .close-modal {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 15px;
}
.my-modal .modal-section .close-modal .fa-times {
  font-size: 25px;
  color: rgb(108, 105, 105);
}
.my-modal .modal-section .close-modal .fa-times:hover {
  color: tomato;
  cursor: pointer;
}
.my-modal .modal-section .form-task {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
.my-modal .modal-section .form-task input {
  width: 80%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
.my-modal .modal-section .form-task textarea {
  width: 80%;
  min-width: 50%;
  max-width: 80%;
  min-height: 100px;
  max-height: 250px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
.my-modal .modal-section .form-task input[type=submit] {
  width: 30%;
  cursor: pointer;
}
.my-modal .modal-section .form-task input[type=submit]:hover {
  background-color: rgb(0, 191, 102);
}
.my-modal .modal-section .form-delete {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}
.my-modal .modal-section .form-delete label {
  width: 100%;
}
.my-modal .modal-section .form-delete input[type=submit] {
  padding: 10px;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
}
.my-modal .modal-section .form-delete input[name=delete-all-task] {
  background-color: rgb(0, 191, 102);
}
.my-modal .modal-section .form-delete input[name=delete-all-task]:hover {
  background-color: rgb(3, 148, 80);
}
.my-modal .modal-section .form-delete input[name=not-delete] {
  background-color: tomato;
}
.my-modal .modal-section .form-delete input[name=not-delete]:hover {
  background-color: rgb(214, 45, 15);
}

@media only screen and (max-width: 767px) {
  .modal-section {
    width: 80% !important;
  }
}
header {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 5px #1F3B58;
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(3px);
  align-items: center;
  text-align: center;
  justify-content: center;
}
header nav {
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  header nav {
    visibility: visible;
  }
  header nav a {
    text-decoration: none;
  }
}

.darkMode {
  color: white;
}
.darkMode a {
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0;
  background-color: white;
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
main section {
  width: 30%;
  margin: 2%;
  padding: 1%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 5px #1F3B58;
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(3px);
  text-align: center;
}
@media screen and (max-width: 768px) {
  main section {
    width: 95%;
  }
}
main .mode {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.darkMode section {
  background-color: rgb(139, 0, 0);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  color: rgb(0, 0, 120);
}

main {
  color: rgb(0, 0, 120);
}

button {
  border: none;
  border-radius: 0.75em;
  box-sizing: border-box;
  border: 2px solid #474747;
  padding: 4px;
}

.add:hover {
  background-color: rgb(1, 170, 1);
  color: rgb(255, 255, 255);
  border-color: rgb(1, 170, 1);
}

.btnDelete:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 0, 0);
}

.slider {
  background-color: rgba(255, 255, 255, 0.168627451);
  border-radius: 100px;
  padding: 1px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  align-items: center;
  position: relative;
  display: block;
  width: 51px;
  height: 29px;
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset, #22cc3f 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.slider::after {
  content: "";
  display: flex;
  top: 2.3px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #e3e3e3;
  border-radius: 200px;
  position: absolute;
  box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
  transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  will-change: left, background-color;
}

.switch input[type=checkbox]:checked + .slider {
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, #22cc3f 0px 0px 0px 2px inset, #22cc3f 0px 0px 0px 24px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.switch input[type=checkbox]:checked + .slider::after {
  left: 24px;
}

.switch input[type=checkbox] {
  display: none;
}

.task {
  margin: 0.75em 0;
  border: 1px solid rgb(60, 60, 79);
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  gap: 5px;
}
.task img {
  height: 25px;
  width: 25px;
}
.task > * {
  display: flex;
  align-items: center;
}

.name_block {
  display: flex;
  justify-content: space-between;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .name_block {
    flex-direction: column;
    align-content: left;
  }
  .name_block > h3 {
    order: 2;
    align-self: flex-start;
  }
}

.controls {
  align-self: flex-end;
}
.controls img {
  padding: 0 5px;
}
.controls img:hover {
  transform: scale(110%);
}

body {
  background-color: white;
}

.darkMode {
  background-color: rgba(0, 0, 0, 0.878);
}/*# sourceMappingURL=style.css.map */