@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  padding: 3vh 2vh;
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 0;
  background-color: #e4e5f1;
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}
main #toDo, main #done, main #doing {
  max-height: 550px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  background-color: #f0f0f5;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #1F3B58;
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(3px);
  text-align: center;
}
@media screen and (max-width: 768px) {
  main #toDo, main #done, main #doing {
    height: 80%;
    width: 100%;
  }
}
main button {
  background-color: #484b6a;
  color: white;
  box-shadow: 0px 0px 2px #b4b4b5;
}
@media screen and (max-width: 768px) {
  main {
    width: 95%;
  }
}

.mode {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #484b6a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1vh;
  padding: 1vh 0;
}
.section-title h2 {
  margin-left: 45%;
  font-weight: 400;
  color: white;
}
.section-title img {
  padding-right: 30px;
  width: 25px;
  height: 25px;
}

.tasks-container {
  padding-top: 0.5em;
  height: 80%;
  max-height: 600px;
  overflow-y: scroll;
}
.tasks-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 15px;
}
.tasks-container::-webkit-scrollbar-track {
  background-color: #f0f0f5;
}
.tasks-container::-webkit-scrollbar-thumb {
  background-color: rgb(228, 226, 226);
  border-radius: 3px;
}

.buttons {
  min-height: 5%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  border-radius: 10px;
  padding: 10px;
}
.buttons button {
  background-color: #484b6a;
  color: white;
  box-shadow: 0px 0px 2px #b4b4b5;
}
.buttons .add:hover {
  background-color: lightseagreen;
}
.buttons .btnDelete:hover {
  background-color: tomato;
}

main.darkMode {
  background-color: #13192d;
}
main.darkMode #toDo, main.darkMode #done, main.darkMode #doing {
  background-color: #102130;
  box-shadow: 0px 0px 5px #b4b4b5;
}
main.darkMode #toDo .task, main.darkMode #done .task, main.darkMode #doing .task {
  background-color: #061424;
  color: #e4e5f1;
  box-shadow: rgba(184, 183, 183, 0.2) 0px 1px 3px 0px;
}
main.darkMode #toDo .task:hover, main.darkMode #done .task:hover, main.darkMode #doing .task:hover {
  box-shadow: rgba(255, 254, 254, 0.297) 0px 1px 2px, rgba(255, 254, 254, 0.297) 0px 0px 0px 2px;
}
main.darkMode #toDo .section-title, main.darkMode #done .section-title, main.darkMode #doing .section-title {
  background-color: #061424;
}
main.darkMode #toDo p, main.darkMode #done p, main.darkMode #doing p {
  color: #e4e5f1;
}
main.darkMode #toDo .buttons button, main.darkMode #done .buttons button, main.darkMode #doing .buttons button {
  background-color: #061424;
  color: white;
  box-shadow: 0px 0px 2px #b4b4b5;
}
main.darkMode #toDo .buttons .add:hover, main.darkMode #done .buttons .add:hover, main.darkMode #doing .buttons .add:hover {
  background-color: lightseagreen;
}
main.darkMode #toDo .buttons .btnDelete:hover, main.darkMode #done .buttons .btnDelete:hover, main.darkMode #doing .buttons .btnDelete:hover {
  background-color: tomato;
}
main.darkMode #toDo .tasks-container::-webkit-scrollbar, main.darkMode #done .tasks-container::-webkit-scrollbar, main.darkMode #doing .tasks-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 15px;
}
main.darkMode #toDo .tasks-container::-webkit-scrollbar-track, main.darkMode #done .tasks-container::-webkit-scrollbar-track, main.darkMode #doing .tasks-container::-webkit-scrollbar-track {
  background-color: #102130;
}
main.darkMode #toDo .tasks-container::-webkit-scrollbar-thumb, main.darkMode #done .tasks-container::-webkit-scrollbar-thumb, main.darkMode #doing .tasks-container::-webkit-scrollbar-thumb {
  background-color: #061424;
  border-radius: 3px;
}

body {
  font-family: "roboto", sans-serif;
}

header {
  color: #e4e5f1;
}

main {
  color: #3C5064;
}

header {
  display: flex;
  position: relative;
  height: 10vh;
  background-color: #484b6a;
  box-shadow: 0px 0px 5px #484b6a;
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(3px);
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: space-around;
  }
}
header h1 {
  margin-left: 15px;
  font-weight: 400;
  align-self: center;
  justify-self: center;
}
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 25px;
    float: left;
  }
}
header nav {
  margin-right: 200px;
}
header nav a {
  font-size: 18px;
  margin: 5px;
  text-decoration: none;
  color: white;
}
header nav a:hover {
  text-decoration-line: underline;
  color: #dee2e2;
}
@media screen and (max-width: 768px) {
  header nav {
    display: block;
    margin-right: 50px;
  }
  header nav a {
    font-size: 15px;
    text-decoration: none;
    color: white;
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .filters {
    flex-direction: column;
  }
}
.filters img {
  padding-left: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

header.darkMode {
  background-color: #061424;
  box-shadow: 0px 0px 5px #b4b4b5;
  color: #E8EDEE;
}
header.darkMode a {
  color: #E8EDEE;
}

button {
  align-self: flex-end;
  margin-right: 1em;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  transition: ease-in 0.2s;
  cursor: pointer;
  padding: 5px 8px;
}

.add:hover {
  background-color: rgb(1, 170, 1);
  color: rgb(255, 255, 255);
  border-color: rgb(1, 170, 1);
}

.btnDelete:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 0, 0);
}

.slider {
  background-color: rgba(255, 255, 255, 0.7490196078);
  border-radius: 100px;
  padding: 1px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  align-items: center;
  position: relative;
  display: block;
  width: 51px;
  height: 29px;
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset, #22cc3f 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.slider::after {
  content: "";
  display: flex;
  top: 2.3px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #e3e3e3;
  border-radius: 200px;
  position: absolute;
  box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
  transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  will-change: left, background-color;
}

.switch input[type=checkbox]:checked + .slider {
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, #22cc3f 0px 0px 0px 2px inset, #22cc3f 0px 0px 0px 24px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.switch input[type=checkbox]:checked + .slider::after {
  left: 24px;
}

.switch input[type=checkbox] {
  display: none;
}

.my-modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  overflow: auto;
  background-color: rgba(56, 55, 55, 0.475);
}
.my-modal .modal-section {
  width: 33%;
  background-color: #f0f0f5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.my-modal .modal-section .close-modal {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 15px;
}
.my-modal .modal-section .close-modal .fa-times {
  font-size: 25px;
  color: rgb(108, 105, 105);
}
.my-modal .modal-section .close-modal .fa-times:hover {
  color: tomato;
  cursor: pointer;
}
.my-modal .modal-section .form-task {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
.my-modal .modal-section .form-task input {
  width: 80%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
.my-modal .modal-section .form-task textarea {
  width: 80%;
  min-width: 50%;
  max-width: 80%;
  min-height: 100px;
  max-height: 250px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 2px black solid;
}
.my-modal .modal-section .form-task .change-status {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}
.my-modal .modal-section .form-task .change-status input[type=radio] {
  width: 20px;
  margin: 5px;
}
.my-modal .modal-section .form-task .change-status label {
  display: block;
  width: 25%;
  margin-right: 10px;
}
.my-modal .modal-section .form-task input[type=submit] {
  width: 30%;
  cursor: pointer;
}
.my-modal .modal-section .form-task input[type=submit]:hover {
  background-color: lightseagreen;
}
.my-modal .modal-section .form-delete {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}
.my-modal .modal-section .form-delete label {
  width: 100%;
}
.my-modal .modal-section .form-delete input[type=submit] {
  padding: 10px;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
}
.my-modal .modal-section .form-delete input[name=delete-all-task]:hover {
  background-color: lightseagreen;
}
.my-modal .modal-section .form-delete input[name=delete-task]:hover {
  background-color: lightseagreen;
}
.my-modal .modal-section .form-delete input[name=not-delete]:hover {
  background-color: tomato;
}
.my-modal .darkMode ::-moz-placeholder {
  color: #CED4DA;
}
.my-modal .darkMode ::placeholder {
  color: #CED4DA;
}
.my-modal .darkMode input[type=submit] {
  width: 30%;
  cursor: pointer;
}
.my-modal .darkMode input[type=submit]:hover {
  background-color: lightseagreen;
}

@media only screen and (max-width: 767px) {
  .modal-section {
    width: 80% !important;
  }
}
.filter-menu {
  display: flex;
  position: absolute;
  z-index: 5;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height: 70vh;
  width: 25vw;
  padding: 2%;
  top: 8.5vh;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .filter-menu {
    width: 50vw;
  }
}

.filter-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.filter-content > * {
  margin: 1vh 0;
}
.filter-content h3 {
  margin-bottom: 2vh;
}
.filter-content section {
  display: flex;
  flex-direction: column;
}
.filter-content section > * {
  margin: 0.2em 0;
}

.filter input[type=text] {
  padding: 5px;
  width: 65%;
}

.filter-menu.darkMode {
  background-color: #102130;
  box-shadow: 0px 0px 5px #b4b4b5;
  color: white;
}
.filter-menu.darkMode button {
  background-color: #061424;
  color: white;
  box-shadow: 0px 0px 2px #b4b4b5;
}
.filter-menu.darkMode #searchbar {
  background-color: rgb(52, 73, 85);
  color: rgb(255, 255, 255);
}

footer {
  height: 4vh;
}

.task {
  margin: 0.6em 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1vh;
  overflow: hidden;
  cursor: grab;
  word-wrap: wrap;
  background-color: white;
}
.task .name_block {
  word-break: break-all;
}
.task .task-description {
  display: block;
  width: 80%;
  word-break: break-all;
}
.task .task-deadline {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.task img {
  height: 25px;
  width: 25px;
  padding-right: 5px;
}
.task > * {
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 0.2em 0.4rem;
  word-wrap: wrap;
}

.task:hover {
  transition: ease 0.6s;
  box-shadow: rgba(54, 54, 54, 0.2) 0px 1px 2px, rgba(51, 51, 51, 0.2) 0px 0px 0px 2px;
}

.name_block {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.name_block h3 {
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .name_block {
    flex-direction: column;
    align-content: left;
  }
  .name_block > h3 {
    order: 2;
    align-self: flex-start;
  }
}

.task-description {
  font-size: 15px;
}

.controls {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  cursor: pointer;
}
.controls img {
  width: 18px;
  height: 18px;
  padding-left: 0.8rem;
}
.controls img:hover {
  transition: ease 0.7s;
  transform: scale(110%);
}

.overdue {
  color: red !important;
}

.task .darkMode {
  background-color: #061424;
  color: #e4e5f1;
  box-shadow: rgba(184, 183, 183, 0.2) 0px 2px 8px 0px;
}
.task .darkMode:hover {
  box-shadow: rgba(255, 254, 254, 0.297) 0px 1px 2px, rgba(255, 254, 254, 0.297) 0px 0px 0px 2px;
}

body {
  background-color: #e4e5f1;
}

.darkMode {
  background-color: #13192d;
}/*# sourceMappingURL=style.css.map */